<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>detalle del medico</h1>
    <ul>
        <li>nombres: {{ med.nombres}}</li>
        <li>apelledios: {{ med.apellidos}}</li>
        <li>tipo_identificacion: {{ med.tipo_identificacion}}</li>
        <li>Numero_Identificacion: {{ med.numero_identificacion}}</li>
        <li>registro_medico: {{ med.registro_medico}}</li>
        <li>Especialidad: {{ med.especialidad}}</li>
    </ul>    
</body>
</html>