<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Medicos</title>
</head>
<body>
    <h1>Lista de Medicos</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Tipo_Idetificacion</th>
                <th>Numero_Identificacion</th>
                <th>Regitro_medico</th>
                <th>Especialidad</th>
            </tr>
        </thead>
        <tbody>
            {% for medico in medicos %}
                <tr>
                    <td> {{  medico.nombres   }} </td>
                    <td> {{  medico.apelledios   }} </td>
                    <td> {{  medico.tipo_identificacion   }} </td>
                    <td> {{  medico.numero_identificacion   }} </td>
                    <td> {{  medico.registro_medico   }} </td>
                    <td> {{  medico.especialidad   }} </td>

                </tr>
            {% endfor%}
        </tbody>
        <tfoot></tfoot>
    </table>
</body>
</html>