<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Paciente</title>
</head>
<body>
    <h1>Lista de Paciente</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Tipo_Idetificacion</th>
                <th>Numero_Identificacion</th>
                <th>altura</th>
                <th>tipo de sangre</th>
                <th>Ver Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
                <tr>
                    <td> {{  paciente.nombres   }} </td>
                    <td> {{  paciente.apelledios   }} </td>
                    <td> {{  paciente.tipo_identificacion   }} </td>
                    <td> {{  paciente.numero_identificacion   }} </td>
                    <td> {{  paciente.altura   }} </td>
                    <td> {{  paciente.tipo_sangre   }} </td>
                    <td>
                        <a href="/pacientes/{{ paciente.id }}">
                            Ver Detalles
                        </a>
                    </td>

                </tr>
            {% endfor%}
        </tbody>
        <tfoot></tfoot>
    </table>
</body>
</html>